<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,100;1,200&family=Poppins:wght@400;500&family=Rubik+Vinyl&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/404error.css">

<div class="errorContainer">
    <div class="errorLogo">
        <a href="/">    <img src="/logo.png" alt=""></a>

    </div>
    <h1 class="error-headline">
        Uh-oh!
    </h1>
    <h2 class="error-headline2">
        It was a good try,  but no !!!!
    </h2>
    <h2 class="error-headline2">
        You are not authorized to visit this page
    </h2>
    <img src="/emoji2.png" alt="" class="error-emoji">
</div>