<%- include('partials/header'); -%>


<div class="profilePage">
  <div class="leftSideProfile">

    <ul class="ProfileUl">
      <li class="ProfileLI"><div>EMAIL :</div> <div><%=user.email%></div> </li>
    
 
    <li><div class="resetButton"><a href="/changepassword" class="btn"><div class="btnReset">Reset Password </div> </a></div>   </li>
    </ul>

  
  </div>
</div>