<%- include('partials/header'); -%>

  <form class="loginForm">
    <h2 class="Loginh2">Change Password</h2>
  
    <label for="password">New Password</label>
      <input type="password" name="password" />
      <div class="newpassworderror"></div>
    
      <label for="password">Confirm new Password</label>
      <input type="password" name="confirmPassword" />
      <div class="confirmpassworderror"></div>

    <input type="submit" name="" class="loginBtn" value="Update password" />
    <input type="button" name="" class="cancelBtn" value="Cancel" style="margin-top: 10px" onclick="cancelFunc()" />
  </form>

  <%- include('partials/footer'); -%>

  <script>

//console.log(`${'<%- JSON.stringify(selectedUser.idUser) %>'}`)
  
  function cancelFunc() {
        location.assign("/");
      }

      const form = document.querySelector("form");


      const newPasswordError = document.querySelector(".newpassworderror");
      const confirmPasswordError = document.querySelector(".confirmpassworderror");
     
      form.addEventListener('submit', async (e) => {
      e.preventDefault();

  
         confirmPasswordError.textContent = '';

      const password = form.elements.password.value;
      const confirmNewPassword = form.elements.confirmPassword.value;
      
        
      if (password!==confirmNewPassword) {confirmPasswordError.textContent = 'Passwords do not match'} 
           else {
      try {
        const res = await fetch(`/changepasswordadmin/${'<%- JSON.stringify(selectedUser.idUser) %>'}`, { 
          method: 'PUT', 
          body: JSON.stringify({password}),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
       console.log(data);
        if (data.errors) {
           passwordError.textContent = data.errors.password
        }
        else {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    }
    });
    </script>